.container {
    width: 80%;
    height: 500px;
    margin: auto;

    .section {
        display: flex;
        margin-top: 50px;
        height: 418px;

        .device-photos {
            width: 30%;
            display: flex;
            flex-direction: column;
            margin-top: auto;
            
            .secondary-images {
                margin-top: 5px;
                display: flex;

                img {
                    margin-right: 5px;
                    padding: 3px;
                    width: 75px;
                    height: 75px;
                }

                .current-img {
                    border: 1px solid #111;
                    border-radius: 7px;
                }
            }

            img {
                &:hover {
                    cursor: pointer;
                }
            }

            .main-image {
                // margin: auto;
                // display: flex;
                // justify-content: center;

                img {
                    width: 300px;
                    height: 300px;
                }
            }

        }
        
        .device-info {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // margin-top: 55px;
            margin-left: 10px;

            .device-general-info {
                h1 {
                    margin-bottom: 10px;
                }

                span {
                    color: $table-color;
                    margin-left: -4px;
                    margin-right: 4px;
                }

                .checked {
                    color: rgb(18, 206, 27);
                }

                p {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }

            .device-specifications {
                h3 {
                    margin-bottom: 15px;
                }

                table {
                    font-size: 14px;
                    border-collapse: collapse;
                    width: 100%;

                    tr {
                                            
                        &:nth-child(odd) {
                            background-color: $table-color;
                        }
                    }

                    td {
                        padding: 3px;
                    }

                    .specification-name {
                        width: 70%;
                    }

                    .specification-value {
                        padding: 0px 10x;
                        width: 30%;
                    }
                }
            }
        }
        
        .device-prices {
            width: 30%;
            display: flex;
            flex-direction: column;

            .shop-info {
                display: flex;

                .shop-logo {
                    width: 100px;
                    height: 20px;
                }
            }
        }
    }
}