$base-color: rgb(73, 73, 73);
$secondary-color: rgb(156, 154, 154);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;

    .header {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .logo {
            margin-left: 60px;
            font-size: 20px;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }

        form {
            flex-grow: 2;
            display: flex;
            margin-left: 145px;

            .input {
                display: flex;
                width: 60%;
                border: 2px solid $base-color;
                border-radius: 30px;
                padding: 5px 15px;
                
                input {
                    flex-grow: 2;
                    height: 30px;
                    border: none;
                    font-size: 14px;

                    &:focus {
                        outline: none;
                    }

                    &:not(:placeholder-shown) {
                        & + button {
                            display: block;
                        }
                    }
                }

                button {
                    border: 0;
                    height: 20px;
                    display: none;
                    background-color: transparent;
                    align-self: center;
                    
                    &:hover {
                        cursor: pointer;
                    }
                    
                    span {
                        margin: 0;
                        font-size: 20px;
                        color: black;
                    }
                }
            }

            span {
                margin-left: 15px;
                color: rgb(53, 107, 255);
                align-self: center;
            }

            .btn-search {
                display: flex;
                border: 0ch;
                font-size: 15px;
                background-color: transparent;
            
                div {
                    border: none;
                    margin-left: 5px;
                    color: rgb(53, 107, 255);
                    font-weight: bold;
                    align-self: center;
                }

                &:hover {
                    cursor: pointer;
                }
            }
                    
        }
    }

    .navbar {
        margin-top: 10px;
        
        nav {
            display: flex;
            margin: auto;
            justify-content: space-around;
            width: 25%;
            height: 30px;

            a {
                text-decoration: none;
                align-self: center;
                font-size: 14px;
                color: rgb(156, 154, 154);
            
                &:hover {
                    color:rgb(53, 107, 255);
                }
            }
        }
    }

    .section_popular-products {
        margin-top: 60px;

        h2 {
            color: $base-color;
            margin-bottom: 10px;
        }

        hr {
            border: 0.5px solid $secondary-color;
            border-radius: 7px;
            background-color: $secondary-color;
        }

        .item-list {
            display: flex;
            justify-content: space-between;

            .item {
                img {
                    width: 180px;
                    height: 180px;
                }

                h4 {
                    text-align: center;
                    font-size: 15px;
                }

                p {
                    margin-top: 3px;
                    text-align: center;
                    font-size: 13px;
                    color: $secondary-color;
                }
            }
        }
    }

    .section_sponsors {
        margin-top: 60px;

        h2 {
            color: $base-color;
            margin-bottom: 10px;
        }

        hr {
            border: 0.5px solid $secondary-color;
            border-radius: 7px;
            background-color: $secondary-color;
        }

        img {
            margin-top: 20px;
            width: 100%;
        }
    }
}

