@import './colors.scss';

.container {
    width: 80%;
    margin: auto;

    .header {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .logo {
            // margin-left: 60px;
            width: 283px;
            font-size: 20px;
            text-align: center;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }

        form {
            flex-grow: 2;
            display: flex;
            // margin-left: 145px;

            .input {
                display: flex;
                width: 60%;
                border: 2px solid $base-color;
                border-radius: 30px;
                padding: 5px 15px;
                
                input {
                    flex-grow: 2;
                    height: 30px;
                    border: none;
                    font-size: 14px;

                    &:focus {
                        outline: none;
                    }

                    &:not(:placeholder-shown) {
                        & + button {
                            display: block;
                        }
                    }
                }

                button {
                    border: 0;
                    height: 20px;
                    display: none;
                    background-color: transparent;
                    align-self: center;
                    
                    &:hover {
                        cursor: pointer;
                    }
                    
                    span {
                        margin: 0;
                        font-size: 20px;
                        color: black;
                    }
                }
            }

            span {
                margin-left: 15px;
                color: rgb(53, 107, 255);
                align-self: center;
            }

            .btn-search {
                display: flex;
                border: 0ch;
                font-size: 15px;
                background-color: transparent;
            
                div {
                    border: none;
                    margin-left: 5px;
                    color: rgb(53, 107, 255);
                    font-weight: bold;
                    align-self: center;
                }

                &:hover {
                    cursor: pointer;
                }
            }
                    
        }
    }
}

.account-menu {
    position: absolute;
    right: 200px;
    top: 30px;
    
    &:hover .account-icon {
        color: rgb(53, 107, 255);
        cursor: pointer;
    }

    &:hover .account-dropdown {
        display: block;
    }
}

.account-dropdown {
    display: none;
    position: absolute;
    right: -40px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-align: center;
        font-size: 14px;
        display: block;

        &:hover {
            background-color: #f1f1f1
        }
    }
}