@import './colors.scss';

.container {
    width: 80%;
    margin: auto;
    
    .hr-top {
        margin-top: 30px;
        border: 0.5px solid $secondary-color;
        border-radius: 7px;
        background-color: $secondary-color;
    }

    .section_suggestions {
        height: 500px;
        overflow-y: scroll;
        
        .suggestions {
            display: flex;
            flex-direction: column;
            min-height: 500px;
            
            .suggestion {
                display: flex;
                width: 48%;
                margin: 0 auto;

                .suggestion-img {
                    width: 170px;
                    height: 170px;
                }

                .suggestion-info {
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                }
                
                &:hover {
                    cursor: pointer;
                }
            }    
        }

        &::-webkit-scrollbar-track {
            border-radius: 20px;
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $scrollbar-color;
        }

        &::-webkit-scrollbar-track-piece:end {
            margin-bottom: 10px; 
        }
        
        &::-webkit-scrollbar-track-piece:start {
            margin-top: 10px;
        }
    }

    .hr-bottom {
        // margin-top: 30px;
        border: 0.5px solid $secondary-color;
        border-radius: 7px;
        background-color: $secondary-color;
    }
}