$base-color: rgb(73, 73, 73);
$secondary-color: rgb(156, 154, 154);
$scrollbar-color: rgba(212, 212, 212, 0.7);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;

    .header {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .logo {
            margin-left: 60px;
            font-size: 20px;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }

        form {
            flex-grow: 2;
            display: flex;
            margin-left: 145px;

            .input {
                display: flex;
                width: 60%;
                border: 2px solid $base-color;
                border-radius: 30px;
                padding: 5px 15px;
                
                input {
                    flex-grow: 2;
                    height: 30px;
                    border: none;
                    font-size: 14px;

                    &:focus {
                        outline: none;
                    }

                    &:not(:placeholder-shown) {
                        & + button {
                            display: block;
                        }
                    }
                }

                button {
                    border: 0;
                    height: 20px;
                    display: none;
                    background-color: transparent;
                    align-self: center;
                    
                    &:hover {
                        cursor: pointer;
                    }
                    
                    span {
                        margin: 0;
                        font-size: 20px;
                        color: black;
                    }
                }
            }

            span {
                margin-left: 15px;
                color: rgb(53, 107, 255);
                align-self: center;
            }

            .btn-search {
                display: flex;
                border: 0ch;
                font-size: 15px;
                background-color: transparent;
            
                div {
                    border: none;
                    margin-left: 5px;
                    color: rgb(53, 107, 255);
                    font-weight: bold;
                    align-self: center;
                }

                &:hover {
                    cursor: pointer;
                }
            }
                    
        }
    }
    
    .hr-top {
        margin-top: 30px;
        border: 0.5px solid $secondary-color;
        border-radius: 7px;
        background-color: $secondary-color;
    }

    .section_suggestions {
        height: 500px;
        overflow-y: scroll;
        
        .suggestions {
            display: flex;
            flex-direction: column;
            min-height: 500px;
            
            .suggestion {
                display: flex;
                width: 48%;
                margin: 0 auto;

                .suggestion-img {
                    width: 170px;
                    height: 170px;
                }

                .suggestion-info {
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    span {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                }
                
                &:hover {
                    cursor: pointer;
                }
            }    
        }

        &::-webkit-scrollbar-track {
            border-radius: 20px;
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $scrollbar-color;
        }

        &::-webkit-scrollbar-track-piece:end {
            margin-bottom: 10px; 
        }
        
        &::-webkit-scrollbar-track-piece:start {
            margin-top: 10px;
        }
    }

    .hr-bottom {
        // margin-top: 30px;
        border: 0.5px solid $secondary-color;
        border-radius: 7px;
        background-color: $secondary-color;
    }
}